.my-popup {
    position: fixed;
    top: 100px;
    left: 96%;
    transform: translateX(-50%);
}

.popup-content > div {
    max-height: 300px;
    overflow-y: auto;
}

.tab .tab-name[data-type='most-used-words-view'] {
    /* Set the tab text to "Most Used Words" */
    content: 'Most Used Words';
}